* {
    margin: 0px;
    padding: 0px;
}
body {
    min-height: 100vh;
}
.Profile {
    /* padding: 100px 0px 0px 0px; */
}
#SecondForm, #ThirdForm {
    display: none;
}
.Profile{
    background-image: url(../../../img/7.jpeg);
    background-size: cover;
    position: relative;
    
}
#FirstForm{
    border-radius: 20px;
    background: white;
    width: 450px;
    height: 520px;
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 32%;
    padding: 30px;
}
h1{
    bottom: 10%;
    top: 10%;
}
label{
    /*font-weight: bolder;*/
   
    font-size: 18px;
    height: max-content;
}
.form-select{
    margin: 10px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 40px;
    /* border-radius: 15px; */
    padding: 0px 0px;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.1);
}
.form-textarea {
    margin: 10px 0;
    width: 95%;
    justify-content: center;
    align-items: center;
    /* height: 40px; */
    /* border-radius: 15px; */
    padding: 0px 10px;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.1);
}
.Profile input[type="button"], .Profile input[type="submit"]{
    background: pink;
    color: black;
    justify-content: center;
    /* height: 30px; */
    margin: 10px 0;
    align-items: center;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 0px  ;
    font-weight: bolder;
    font-size: medium;
    
}
#SecondForm{
    border-radius: 20px;
    background: white;
    width: 450px;
    height: fit-content;
    position: absolute;
    top: 3%;
    bottom: 10%;
    right: 32%;
    padding: 30px;
}
#ThirdForm{
    border-radius: 20px;
    background: white;
    width: 450px;
    height: fit-content;
    position: absolute;
    top: 20%;
    bottom: 10%;
    right: 32%;
    padding: 30px;
}