* {
    margin: 0px;
    padding: 0px;
}
body {
    min-height: 100vh;
}
.RegisterForm {
    background-image: url(../../../img/3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px auto;
    
    position: absolute;
    min-height: 100vh;
    width: 100%;
    text-align: center;
}
.registerForm>h1 {
    padding: 30px;
    
}

.regForm {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 80%;
    
    border-radius: 20px;
    backdrop-filter: blur(100px);
    
}

.firstReg, .secReg, .thirdReg, .fourReg, .fiveReg{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    
}
.firstReg > label, .firstReg > select , .secReg > label, .secReg >div> select, .thirdReg>label, .thirdReg>select, .fourReg>label, .fourReg>select{
    padding: 5px;
    margin: 3px;
}
.fiveReg > input {
    padding: 6px;
    border-radius: 7px;

}


/* POPUP REGISTER CSS */

#demo {
    display: none;
}

.popUpBack {
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(5px);
}
#popUp1 {
    display : block;
}
    .popUpRegister1 ,.popUpRegister2{
        /* display: block; */
        padding: 13px;
        width:400px;
        height: fit-content;
        background: white;
        position: absolute;
        top:5%;
        left:35%;
        border-radius: 20px;
        background-color: white;
        /* backdrop-filter: blur(8px); */
    }
.in-wid90 {
    margin: 10px 0;
    width: 95%;
    justify-content: center;
    align-items: center;
    height: 30px;
    /* border-radius: 15px; */
    padding: 20px 10px;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.1);

}
.in-wid40 {
    margin: 10px 0;
    width: 95%;
    justify-content: center;
    align-items: center;
    height: 30px;
    /* border-radius: 15px; */
    padding: 20px 10px;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.1);
}
.in-wid30 {
    width: 32%;
}
.popUpRegister1> * , .popUpRegister2 > *{
    margin: 7px auto;
    padding: 3px 5px;
    text-align: center;
    align-items: center;

}
    #popUp2 {
        display: none;
    }
    .form-select{
        outline: none;
        border: none;
        background: rgba(31, 29, 29, 0.1);
    }
    .popUpBack input[type="button"]{
        background: pink;
    color: black;
    justify-content: center;
    height: 30px;
    margin: 10px 0;
    align-items: center;
    width: 100%;
    outline: none;
    border: none;
    padding: 20px 30px  ;
    font-weight: bolder;
    font-size: medium;
    }